footer.footer {
  background: @footer-color;
  padding-top: 60px;
  padding-bottom: 35px;

  .links-row {
    padding-bottom: 35px;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 10px;
    }
  }

  .footer-logo {
    img {
      width: 105px;
    }
  }

  .read-better {
    @media (max-width: 500px) {
      width: 50%;
    }

    h1 {
      padding-bottom: 20px;
      margin: 0;
      font-family: gillsans-bold;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;


      @media (max-width: @max-xs) {
        font-size: 23px;
      }

      @media (max-width: 500px) {
        padding-bottom: 5px;
      }
    }

    .telegram-link {
      margin-top: 10px;
    }

    a {
      text-decoration: underline;
      font-family: ubuntu-medium;
      font-size: @body-text-n;
      color: #8e8e8e;

      &:hover {
        color: @yellow;
      }
    }
  }

  .footer-links {
    @media (max-width: 500px) {
      position: relative;
      padding-top: 20px;
      margin-top: 20px;
      width: 100%;
      text-align: center;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 1%;
        width: 98%;
        height: 1px;
        background: #4d4d4d;
      }

      ul  {
        padding: 0;
      }
    }

    li {
      list-style-type: none;
      line-height: 25px;
      a {
        font-family: ubuntu-medium;
        font-size: @body-text-n;
        color: #8e8e8e;

        @media (max-width: @max-sm) {
          font-size: @menu-text;
        }

        @media (max-width: @max-xs) {
          font-size: 13px;
        }

        &:hover {
          color: @yellow;
          text-decoration: none;
        }
      }

    }
  }

  .all-rights {
    position: relative;
    padding-top: 30px;
    font-family: ubuntu-medium;
    font-size: @menu-text;
    color: #fff;

    &:before {
      content:'';
      position: absolute;
      top:0;
      left: 1%;
      width: 98%;
      height: 1px;
      background: #4d4d4d;
    }
  }
}
