.page-privacy {
  background: @bg-color;

  .bread-crumbs {
    p.to-main, span {
      float: left;
    }

    .to-main a {
      font-family:ubuntu-medium;
      color: @header-text-2;
      font-size: @menu-text;
      text-transform: uppercase;
      -webkit-transition: color .4s ease;
      -moz-transition: color .4s ease;
      -ms-transition: color .4s ease;
      -o-transition: color .4s ease;
      transition: color .4s ease;

      &:hover {
        color: @header-text;
      }
    }

    span {
      color: @red;
      padding:0 8px;
    }

    .current {
      font-family:ubuntu-medium;
      color: @header-text-2;
      font-size: @menu-text;
      text-transform: uppercase;
    }
  }

  #privacy {
    position: relative;

    .scroll-to {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .first-block-privacy {
      padding-top: 230px;
      padding-bottom: 60px;
      background: @yellow;

      @media (max-width: @max-xs) {
        padding-top: 150px;
      }

      h1 {
        font-family: gillsans-bold;
        color: @header-text;
        font-size: 60px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
          font-size: 46px;
        }

        @media (max-width: @max-sm) {
          font-size: 42px;
        }

        @media (max-width: 600px) {
          font-size: 28px;
        }

        @media (max-width: 400px) {
          font-size: 24px;
        }
      }

      img {
        margin-top: 20px;

        @media (max-width: @max-sm) {
          margin-top: 0;
        }
      }
    }

    .second-block-privacy {
      padding: 90px 0 130px 0;

      h2 {
        margin:0;
        font-family: gillsans-bold;
        color: @header-text;
        font-size: @text-block-title;
        padding-bottom: 25px;
      }

      p {;
        font-family: ubuntu-medium;
        font-size: @body-text-n;
        color: #828282;
      }

      blockquote {
        position: relative;

        p {
          color: @header-text;
        }

        &:before {
          content: '';
          position: absolute;
          left:0;
          top:0;
          height:100%;
          width:2px;
          background: @red;
        }
      }
    }
  }
}
