.page-privacy {
  background: @bg-color;

  .bread-crumbs {
    p.to-main, span {
      float: left;
    }

    .to-main a {
      font-family:ubuntu-medium;
      color: @header-text-2;
      font-size: @menu-text;
      text-transform: uppercase;
      -webkit-transition: color .4s ease;
      -moz-transition: color .4s ease;
      -ms-transition: color .4s ease;
      -o-transition: color .4s ease;
      transition: color .4s ease;

      @media (max-width: 360px) {
        font-size: 12px;
      }

      &:hover {
        color: @header-text;
      }
    }

    span {
      font-family:ubuntu-medium;
      color: @red;
      padding:0 8px;

      @media (max-width: 360px) {
        padding: 0 5px;
        padding-top: 2px;
        font-size: 12px;
      }
    }

    .current {
      font-family:ubuntu-medium;
      color: @header-text-2;
      font-size: @menu-text;
      text-transform: uppercase;

      @media (max-width: 360px) {
        padding-top: 2px;
        font-size: 12px;
      }
    }
  }

  #privacy {
    position: relative;

    .scroll-to {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .first-block-privacy {
      padding-top: 150px;
      padding-bottom: 60px;
      background: @yellow;

      @media (max-width: @max-xs) {
        padding-top: 150px;
        padding-bottom: 30px;
      }

      h1 {
        font-family: gillsans-bold;
        color: @header-text;
        font-size: 60px;
        text-transform: uppercase;

        @media (max-width: @max-sm) {
          font-size: 50px;
        }

        @media (max-width: 740px) {
          font-size: 42px;
        }

        @media (max-width: 650px) {
          font-size: 36px;
        }

        @media (max-width: 460px) {
          font-size: 30px;
        }

        @media (max-width: 390px) {
          font-size: 26px;
        }

        @media (max-width: 350px) {
          font-size: 24px;
        }
      }

      .col-md-4 {
        @media (max-width: @laptop-2) {
          text-align: right;
        }
      }

      img {
        margin-top: 10px;
        width: 130px;

        @media (max-width: @max-sm) {
          margin-top: -20px;
        }


        @media (max-width: @max-xs) {
          width: 95px;
          margin-top: -180px;
        }

        @media (max-width: 570px) {
          display: none;
        }
      }
    }

    .second-block-privacy {
      padding: 90px 0 130px 0;

      @media (max-width: @laptop-1) {
        padding: 50px 0 80px 0;
      }

      h2 {
        margin:0;
        font-family: gillsans-bold;
        color: @header-text;
        font-size: @text-block-title;
        padding-bottom: 25px;
      }

      p {;
        font-family: ubuntu-medium;
        font-size: @body-text-n;
        color: #828282;
      }

      blockquote {
        position: relative;

        p {
          color: @header-text;
        }

        &:before {
          content: '';
          position: absolute;
          left:0;
          top:0;
          height:100%;
          width:2px;
          background: @red;
        }
      }
    }
  }
}
