.page-terms {
  background: @bg-color;

  #terms-of-use {
    position: relative;

    .scroll-to {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .first-block-terms {
      padding-top: 230px;
      padding-bottom: 60px;
      background: @yellow;

      @media (max-width: @max-xs) {
        padding-top: 150px;
      }

      .col-md-5.col-sm-3.col-sm-offset-2 {
        @media (min-width: @max-sm) {
          margin-left: 0;
        }
      }

      h1 {
        font-family: gillsans-bold;
        color: @header-text;
        font-size: 60px;
        text-transform: uppercase;

        @media (max-width: @max-xs) {
          font-size: 45px;
        }

        @media (max-width: 600px) {
          font-size: 28px;
        }

        @media (max-width: 400px) {
          font-size: 24px;
        }
      }

      img {
        margin-left: 20px;

        @media (max-width: @max-sm) {
          margin-top: 0;
        }
      }
    }

    .second-block-terms {
      background: @bg-color;
      padding: 90px 0 130px 0;

      p {
        margin-bottom: 20px;
        font-family: ubuntu-medium;
        font-size: @body-text-n;
        color: #828282;

        strong {
          font-family: gillsans-bold;
          font-size: @text-block-title;
          color: @header-text;

          em {
            font-style: normal;
            color: #f86b54;
          }
        }
      }
    }
  }
}
