//Colors
@red: #f86b54;
@yellow: #f9d35c;
@green: #0fad9c;
@header-text: #2e2e2e;
@header-text-2: #987e2a;
@body-text: #767687;
@input-text: #b7b7b7;
@bg-color: #f0f0f0;
@footer-color: #2e2e2e;

//Font-sizes
@header-large: 70px;
@screen-title: 36px;
@text-block-title: 28px;
@text-body-large: 26px;
@button-text: 18.16px;
@body-text-b: 18px;
@body-text-n: 16px;
@menu-text: 14px;

//Variables of media-queries

@max-sm: 991px;
@max-xs: 767px;
@min-xs: 320px;
@laptop-1: 1367px;
@laptop-2: 1199px;

//some mixins


.standrat-header {
  font-family: gillsans-bold;
  font-size: @screen-title;
  text-transform: uppercase;

  @media (max-width: @laptop-1) {
    font-size: 36px;
  }

  @media (max-width: @laptop-2) {
    font-size: 32px;
  }

  @media (max-width: 450px) {
    font-size: 30px;
  }
}
